html{
    padding: 0% 10%;
    background-color: aliceblue;
}
p {
    color: darkslategrey;
}
ul{
    color: darkslategrey;
}

@font-face
{
    font-family: "nasalization";
    src: url(nasalization-rg.ttf);
}
h1 {
    background-color: rgba(0,0,0,0.2);
    color: #8B0000;
    margin: 0%;
    padding: 10px;
    font-family: nasalization;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;
}
h2 {
    color: rgb(178, 34, 34);
    font-family: nasalization;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}
q {
    border-width: 2px;
    border-color: black;
}
p ul {
    margin: 0% 5%;
}
.média {
    width: 33%;
    overflow: hidden;
    margin-left: 4em;
}
.content {
    display: flex;
    flex-direction: row;
}
mark {
    color: green;
}
.mark2 {
    color: greenyellow;
}

