html {
    background-color:rgb(255, 253, 248);
}
.titre {
    display: flex;
    flex-direction: row ; 
    background-color:lavender;
}
h2 {
    text-align: center;
    text-decoration: underline black;
}
img {
    border: black 1px solid;
}
.sous-titres {
    display: flex;
    flex-direction: row ; 
    text-indent: 800%;
}

    .content2 {
        display: flex;
        flex-direction: row ; 
        background-color:lavender;
    }
    .téléphone {
        width: 33%;
    }
    .mail {
        width: 33%;
    }
    .réseaux {
        width: 33%;
    }