html {
    background-color:rgb(255, 253, 248);
}
.titre {
    display: flex;
    flex-direction: row ; 
    background-color: lavender;
}
h1 {
    padding-left: 3%;
}
h2 {
    text-align: center;
    text-decoration: underline black;
}
img {
    border: black 1px solid;
}
.sous-titres {
    display: flex;
    flex-direction: row ; 
    text-indent: 800%;
}

.content {
    display: flex;
    flex-direction: row ;    
}

.profil {
    width: 50%;
    padding-left: 2%;
}
.compétences {
    width: 50%;
}
.content2 {
    display: flex;
    flex-direction: row ; 
    background-color:lavender;
}
.téléphone {
    width: 33%;
}
.mail {
    width: 33%;
}
.réseaux {
    width: 33%;
}